<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.usbhelper.app"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-feature android:name="android.hardware.usb.host" android:required="true" />

    <application android:label="SmartPedalApp" android:extractNativeLibs="true">
        <activity android:name="org.qtproject.qt.android.bindings.QtActivity"
                  android:label="SmartPedalApp"
                  android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation"
                  android:exported="true">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                       android:resource="@xml/device_filter" />
        </activity>
    </application>
</manifest>